{% extends "base/base.html" %}
{% block content %}
<style>
    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
</br>
<div align="center">
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h3 class=" site-heading my-4 mt-3 d-flex align-items-center justify-content-center text-white font-weight-bold" > About Me</h3>
                        <!-- <p class="d-flex align-items-center justify-content-center text-light ">We Love Django As much as you do..! &nbsp -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</br></br>
<div class="container">
    <div class="row d-flex align-items-center justify-content-center" >
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="card-title">Hola!</h1></br>
                    <p class="card-text"> Soy Franco Ahumada, y este curso fue el primer contacto de mi vida con Python y Django.
                        Soy estudiante de sociologia, y en ese sentido, queria aprender Python para manejar data. Previamente, y con ese objetivo, 
                        hice el curso de Data Analyst tambien en CoderHouse. Por otro lado, la creacion de la parte estetica del Blog
                        fue algo que tambien me llamo la atencion asique no me sorprenderia inscribirme prontamente en el curso de UX/UI.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block footer %}
{% endblock footer %}