{% extends 'base/base.html' %} 
{% load static %}
{%block title%}
<title>{{ post.title }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body"> 
                <h1>{{ post.title }}</h1>
                <p class=" text-muted"> By: {{ post.author }} - {{ post.created_on }}</p>
                <p class="card-text ">{{post.content|safe}}</p>
                {% if post.image %}
                <img src="{{post.image.url}}" class="card-img-top" alt="..." height="500px"<br />
                {%endif%}
            </br></br>
                {%if user.is_authenticated%}
                    {%if user.id == post.author.id%}
                        <div class="text-center">
                            <a name="" id="" class="btn btn-warning" href="{% url 'update' post.pk  %}" role="button" >Update</a>
                            <a name="" id="" class="btn btn-danger" href="{% url 'delete' post.pk  %}" role="button">Delete</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% comment %} </div> 

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
    {% if post.author.profile.profile_pic%}
        <img src="{{post.author.profile.profile_pic.url}}" class="card-img" width=200 height=200>
    {% else %}
        <img src="{% static 'images/profile-icon-png-898.png' %}" class="card-img" width=200 height=200>
    {% endif %}
    </div>
    <div class="col-md-10">
        <div class="card-body">
            <h5 class="card-title">{{ post.author }}</h5>
            <p <small class=" text-muted">
                
                <a href="{% url 'profile' post.author.profile.id %}">Profile </a> |

                {% if post.author.profile.website %}
                    <a href="{{post.author.profile.website}}"> Website </a> |
                {% endif %}
                {% if post.author.profile.facebook %}
                    <a href="{{post.author.profile.facebook}}"> Facebook </a> |
                {% endif %}

                {% if post.author.profile.twitter %}
                    <a href="{{post.author.profile.twitter}}"> Twitter </a> |
                {% endif %}

            </p>
            <p class="card-text">
                {{post.author.profile.biographie}}
            </p>
        </div>
        </div>
    </div>
</div>  {% endcomment %}
{% endblock content %}
