{% extends 'base/base.html' %} 

{%block title%}
<title>Create</title>
{% endblock title %}


{% block content %}

<style>
    h1 {text-align: center;}

    form { width: 53%;
        position:relative;
        left: 50px;
        }

</style>

{%if user.is_authenticated%}

        <br/> <br/>
        <h1 style="font-weight: bold;"> Create Post </h1>
        <br/> <br/>
        <div class='form'>
            <div class="form-group">
                <form method="POST" enctype ="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success" >Create</button>
    </div>

{% else %}

    <h1 style="font-weight: bold;"> Not Loged In </h1>
    
{% endif %}

{% endblock content %}